{% extends 'bs/base.html' %}
{% block title %}All Launches{% endblock %}
{% block content %}

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Space X Launch Data</h1>
            <p class="lead">From the Space X Data ReST API</p>
        </div>
    </header>

    <div class="py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-xl-12">
                    <h3>All Launches</h3>
                </div>
            </div>
            <div class="row">

                {% for item in launches %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top img-custom"
                             src="{{ item.mission_patch }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5>Launch No: {{ item.flight_number }}</h5>
                            <p class="card-text">Launch Time/Date: {{ item.launch_date|dt }}
                                <br>Rocket: {{ item.rocket }}
                                <br>Launch: {% if item.successful %}<span class="badge badge-success">Successful</span>{% else %}<span class="badge badge-danger">Unsuccessful</span>{% endif %}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ url_for('launch', launch_id=item.flight_number) }}" role="button" class="btn btn-sm btn-outline-secondary">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
                    <div class="row">
                <div class="col-xl-12">
                    <p class="text-md-right">View more...</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}