{% extends "base.html" %}
{% block title %}Space X Launch {{ launch.flight_number }}{% endblock %}


{% block content %}
    <h1 class="title">
        Space X Launch {{ launch.flight_number }}
    </h1>
    <div id="meta" class="field is-grouped is-grouped-multiline">
        {# Launch success #}
        <div class="control">
            <div class="tags has-addons">

                <span class="tag">Successful</span>
                {% if launch.launch_success %}
                    <span class="tag is-success">Yes</span>
                {% else %}
                    <span class="tag is-danger">No</span>
                {% endif %}

            </div>
        </div>
        {# Rocket Name       #}
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">Rocket</span>
                <span class="tag is-info">{{ launch.rocket.rocket_name }}</span>
            </div>
        </div>
    </div>
        <h4 class="title is-4">
        Launch Video
    </h4>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ launch.links.video_link|yt }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


{% endblock %}